.postCard {
    box-shadow: 5px 1px 15px -5px black;
    border-radius: 5px;
    margin-bottom: 10px;
}

.postCard-header {
    background-color: whitesmoke;
    border-radius: 5px 5px 0 0;
    display: flex;
    padding: 7px 15px;
}

.postCard-header img {
    width: 50px;
    height: 50px;
    border-radius: 100px;
}

.postCard-header .postCard-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 5px;
    padding-left: 10px;
}

.postCard-header .postCard-content p{
    flex-direction: column;
    margin: 0;
}

.postCard-link {
    text-decoration: underline;
}

.postCard-link:hover {
    color:orangered;
    cursor: pointer;
}

.postCard-post-image img{
    width: 100px;
    height: 100px;
}

.postCard-body-title {
    text-align: left;
    padding: 0 15px;
    margin: 5px;
    font-weight: 500;
    word-break: break-word;
}

.postCard-footer {
    display: flex;
    padding: 5px 10px;
}

.postCard-footer i{
    padding-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}

.postCard-footer-links {
    display: flex;
}

.postCard-footer-links p{
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 12px;
    border: 1px solid orangered;
    border-right: 0px;
    padding: 3px 5px;
    color: orangered;
}

.postCard-footer p:hover{
    background-color: rgba(255, 69, 0, .1);
    cursor: pointer;
}

.postCard-footer p:active{
    font-size: 11px;
}

.postCard-footer-links p:first-child{
    border-radius: 5px 0 0 5px;
}

.postCard-footer-links p:last-child{
    border-radius: 0 5px 5px 0;
    border-right: 1px solid orangered;
}
