.comment-section { 
    border-radius: 10PX;
}

.comment-chain-wrapper {
    margin: 5px 0;
    display: flex;
    justify-content: center;
    box-shadow: 5px 1px 15px -5px black;
    border-radius: 5px;
    background-color: whitesmoke;
    width: 100%;
}

.comment {
    padding: 0 5px;
    text-align: left;
    display: flex;
    width: calc(100% - 12px);
    border-left: 2px solid gray;
}

.comment-content {
    width: 100%;
}

.comment p {
    margin: 0;
    padding: 0;
}

.comment:first-child{
    border-left: none;
}

.comment-body {
    width: calc(100% - 12px);
    word-break: break-word;
    padding: 0 10px;
}

.comment-footer {
    text-align: right;
    margin: 0 5px 10px 5px;
    color: red;    
}

.comment-header {
    padding: 10px !important;
    
}

.comment-header:hover {
    background-color: rgba(255, 69, 0, .1);
    border-radius: 2px;
    padding: 10px;
    cursor: pointer;
    
}