.comment-wrapper {
    padding: 0 10px;
    margin: 10px 5px;
    box-shadow: 5px 1px 15px -5px black;
    border-radius: 5px;background-color: whitesmoke;
}

.comment {
    border-left: 1px solid gray;
    padding-left: 10px;
    text-align: left;
    display: flex;
    flex-direction: column;
}

.comment p {
    margin: 0;
    padding: 0;
}

.comment:first-child{
    margin: 0px;
    padding: 0px;
    border-left: none;
}

.comment-header {
    display: inline;
    border-radius: 10px;
    margin: 10px 0;
}

.comment-body {
    overflow-wrap: break-word;
    text-align: left;
}

.comment-footer {
    text-align: right;
    padding: 0 10px;
    margin: 0;
    color: orangered;    
}

.comment-author:hover {
    background-color: rgba(255, 69, 0, .1);
    border-radius: 2px;
    cursor: pointer;
    
}